version: "3.9"

services:
  php:
    build: .
    container_name: admission_enrollment_php
    ports:
      - "81:80"
    depends_on:
      - mysql
    networks:
      admission-network:
    environment:
      DB_HOST: ${DB_HOST}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
    volumes:
      - ./:/var/www/html

  mysql:
    image: mysql:8.0
    container_name: admission_enrollment_mysql
    restart: always
    command: --init-file /docker-entrypoint-initdb.d/enrollment_system_schema.sql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    ports:
      - "3307:3306"
    networks:
      admission-network:
    volumes:
      - admission-mysql-data:/var/lib/mysql
      - ./initdb:/docker-entrypoint-initdb.d:ro

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: admission_enrollment_phpmyadmin
    restart: always
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_USER: ${DB_USER}
      PMA_PASSWORD: ${DB_PASS}
    ports:
      - "8081:80"
    networks:
      admission-network:

networks:
  admission-network: {}

volumes:
  admission-mysql-data:
