.admission-application-container{
    position: relative;
    background-color: #e6e6e6;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 1em 1em 0 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.sub-admission-container{
    position: relative;
    background-color: #e6e6e6;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column; 
}

.admission-header{
    background-color: #e6e6e6;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;

}

.admission-header label{
    font-size: 1.2em;
}
.admission-content{
    margin: 1em 0 0 0;
    background-color: #F3F8FA;
    border: solid 1px #F3F8FA ;
    height: auto;
    width: 100%;
}
.admission-content-header{
    height: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
}


.admission-content-header > .label-container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.admission-content-header > .label-container label{
    margin-left: .7em;

}

.admission-content-header > form{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    padding-right: 1em;
}

.admission-content-header > form > input{
    height: 2.5em;
    width: 20em;
    padding-left: 1em;
}

.admission-content-header > form > button{
    height: 2.5em;
    padding: 10px;
    font-size: 1.2e;
    color: white;
    background-color: #0879BB;
    border: none;
}


.admission-content-header label{
    font-size: 1.5em;
    font-weight: 600;
    color: #8C999F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.admission-content-body{
    height: auto;
    width: 100%;
    padding: 0 1em 15em 1em;
}
/* table design */
.admission-content-body table{
    position: relative;
	width: 100%;
	border-collapse: collapse;
 
}

.admission-content-body table thead tr{
	background-color: #0879BB;
 	font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
 	letter-spacing: 1px;
	color: white;
	font-weight: 600;

}

.admission-content-body table thead th{
	width: 200px;
	height: 2.8em;
}



.admission-content-body table tbody tr {
	position: relative;
	text-align: center;
	color: #2e2e1f;
	cursor: pointer;
	border-bottom: solid .5px grey;
}

.admission-content-body tbody tr:hover{
	transform: scale(1.001);
	text-align: center;
	box-shadow: 2px 4px 2px rgba(30, 30, 30, .5), 2px 2px 4px rgba(0, 0, 0, .5);

}

.admission-content-body tbody tr td{
	line-height: 25px; 
}

.admission-content-body tr tbody tr:nth-child(even)
{
	background-color: #c2c2a3;
}

.admission-content-body tbody > tr > td > a{
    margin: 0 .4em;
}

.admission-content-body tbody > tr > td > p {
    font-size: 12px;
}


/* FOR MODAL */
.modal {
    display: flex;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal-container{
    height: 50%;
    width: 40%;
    background-color: #F3F8FA;
    display: flex;
    flex-direction: column;
}

.modal-header{
    height: 12%;
    width: 100%;
    justify-content: end;
    display: flex;
    background-color: #5AA5D1;
}

.modal-header a{
    
}

.modal-header a > img{
    height: 2em;
    
}


.modal-body{
    height: 78%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 2em;
}

.modal-body label{
    font-weight: 800;
    font-size: 14px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#view{
    height: 2em;

}